// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: $dark-grey;
  color: #FFF;
  text-align: right;
  padding: $base-pad/2 $base-pad;
  letter-spacing: 1px;
}