// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: $dark-grey;
  color: #FFF;
  text-align: right;
  padding: $base-pad/2 $base-pad;
  letter-spacing: 1px;
  transition-duration: 500ms;
  opacity: 1;
  clear: both;
  &.animate { margin-top: 200px; opacity: 0; }
}
