// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#logotype {
  height: 100px;
  position: relative;
  text-align: center;

  > div, a {
    font-size: 84px; // 6x times root font val
    left: 0;
    line-height: 1;
    margin: auto;
    position: absolute;
    right: 0;
    color: #000;
    &:hover { text-decoration: none; }
  }
  .leftLetter span { margin-left: -28px; }

  .rightLetter {
    margin-top: -65px;
    span { margin-left: 28px; }
  }
}
nav {
  a { color: #000; }
  ul { 
    display: inline-block;
    list-style-type: none;
    padding: 0; 
    width: 100%;
  }
  li { 
    float: left;
    text-align: center;
    width: 20%;

    @include breakpoint($bp-small) {
      width: 25%;
      &.contact { display: none; }
    }
    @include breakpoint($bp-xsmall) {
      width: 33%;
      &.learning { display: none; }
    }
  }
}