// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

#contact-me {
  button {
    float: right;
    margin-top: 20px;
    background: $dark-grey;
    color: #FFF;
    border: none;
    padding: 10px 15px;
  }
}