// -----------------------------------------------------------------------------
// This file contains all styles related to the card grid styles of the site/application.
// -----------------------------------------------------------------------------

// Card sizing general styles
.card-grid-1 {
  margin: 0;
  * { padding: 0; }

  li { 
    float: left; 
  }
}

.card-grid-2 {
  * { margin: 0; }

  li { 
    float: left; 
  }
}
.card-grid-slider {
  overflow: hidden;
  position: relative;
  a { float: left; line-height: 0; }

  nav {
    position: absolute;
    margin: 0;
    right: 1%;
    border: 3px solid #000;
    text-align: center;
    padding: 5px 15px;
    transition-duration: 500ms;
    cursor: pointer;
    
    @include breakpoint($bp-small) {
      display: none;
    }

    a {
      float: none;
      &:focus, &:hover { text-decoration: none; }
    }
    &:hover {
      background-color: #000;
      a { color: #FFF; }
    }
  }

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 270px;
    overflow-y: hidden;
    transition-duration: 300ms;
    li { 
      box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.15);
      float: left; 
      text-align: center;
      height: 240px;
      position: relative;
      line-height: 240px;
      &:last-child { opacity: 0; }
      img {
        max-width: 170px;
        position: absolute; // center image
        margin: auto; // center image
        top: 0; // center image
        left: 0; // center image
        right: 0; // center image
        bottom: 0; // center image
      }
    }
  }
  &.card-4 {
    li { 
      height: 90%;
      margin: 0.425%; 
      width: 23%;

      @include breakpoint($bp-large) {
        width: 31%;
      }
      @include breakpoint($bp-mobileLandscape) {
        width: 46%;
      }
      @include breakpoint($bp-small) {
        width: 90%;
      }
    }
  }
}


// Card col max style
.card-grid-1,
.card-grid-2 {
  a { float: left; line-height: 0; }
  &.card-4 {
    li { 
      width: 25%; 
      img { width: 100%; }
    }
  }
}

.card-grid-2 {
  &.card-4,
  &.card-8,
  &.card-7,
  &.card-12 {
    li {
      height: 200px;
      margin: 1%; 
      width: 23%;
      text-align: center;
      position: relative;

      a { 
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        margin: auto;
      }
      img { 
        width: 40%;
        height: auto;
      }
    }
  }
  &.card-8,
  &.card-7 {
    li {
      width: 12%;
      margin: 0.25%;
      position: relative;
      img {
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 50px;
      }
    }
  }
  &.card-7 li { width: 13.5%; }
  &.card-12 {
    padding: 0;
    margin-bottom: 150px;
    li { 
      width: 8.33%;
      margin: 0;
      height: auto;
      img { width: 100%; }
    }
  }
}

// Card hover styles
.card-grid-1,
.card-grid-2 {
  a:hover {}
}