// -----------------------------------------------------------------------------
// This file contains all styles related to the hero slider component.
// -----------------------------------------------------------------------------

#heroSlider {
	padding: 0;
    height: 560px;
    overflow: hidden;

    img {
    	width: 100%;
    }
}