section {
  &.bannerBar {
    padding: 10px 5%;
    background-color: #000;
    margin: 20px 0 40px 0;
    h1 { color: #FFF; margin: 0; }
    p {
      margin: 0;
      margin-bottom: 15px;
      color: #FFF;
      line-height: 1;
      font-size: 24px;
    }
  }
  &.codepens {
    h1 { margin: 60px 0 10px 0; }
  }
  &#site-resources {
    transition-duration: 2000ms;
    height: 0;
    &.active { height: 3000px; }

    canvas {
      position: fixed;
      bottom: -105%;
      left: 0;
      right: 0;
      margin: auto;
      transition-duration: 1300ms;
      opacity: .5; 
    }
    &.active {
      canvas { bottom: -30%; }
    }
    .showcaseMessage.animate { opacity: 1; display: block; }
    .placard.animate {
      a { opacity: 0; }

      &.digOcean img { 
        top: 650px; 
        left: -100px;
        width: 200px; 
      }
      &.github img { 
        top: 320px; 
        left: -150px;
        width: 170px; 
      }
      &.cucumber img { 
        top: 520px; 
        left: -250px; 
      }
      &.travis  img { 
        top: 420px; 
        left: -150px; 
        width: 130px 
      }
      &.html5  img { 
        top: 120px;
        width: 120px; 
      }
      &.sass  img {     
        top: 420px;
        left: -180px;
        width: 150px; 
      }
      &.less  img {     
        top: 600px;
        left: -200px; 
        width: 120px;
      }
      &.jquery  img { 
        top: 340px;     
        left: -400px;
        width: 200px; 
      }
    }
  }
}