// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#site-badge {
  position: absolute;
  top: 0;
  right: 10px;
  width: 135px;

  @include breakpoint($bp-large) {
    width: 100px;
  }
}

.clients {
  position: relative;
  #past-client-overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 14% 0 20% 0;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 300ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

#site-resources {
  .placard {
    cursor: pointer;
    img { transition-duration: 2000ms; }
    a { 
      transition-duration: 500ms; 
      opacity: 1;
      pointer-events: none; // stop clicks to retain outbount link but not allow user to use
    }
    &.spinning { animation: spin 1s ease-in; }
  }
  .showcaseMessage {
    position: fixed;
    top: 20px;
    left: 240px;
    opacity: 0;
    display: none;
    transition: opacity 2000ms;
  }
  p.showcaseMessage {
    top: initial;
    bottom: 10px;
    left: 20px;
  }
}
@-webkit-keyframes spin {
  0%  {-webkit-transform: rotateY(0deg);}
  50% {-webkit-transform: rotateY(180deg);}
  100%  {-webkit-transform: rotateY(0deg);} 
}
