#project-overview {
  text-align: center;
}
#project-billboards {
  li {
    position: relative;
    background-color: #000;
    @include breakpoint($bp-large) { width: 33%; }
    @include breakpoint($bp-mobileLandscape) { width: 50%; }
    @include breakpoint($bp-small) { 
      width: 100%;
      &:nth-child(n+6) { display: none; } 
    }

    a, h1, h2, p {
      position: absolute;
      opacity: 0;
      transition-duration: 500ms;
      color: #FFF;
      z-index: 1;
      left: 5%;
      text-shadow: 2px 2px 2px #000;
      cursor: default;
    }
    a { display: none; bottom: 30px;  cursor: pointer; }
    h1 { 
          font-size: 21px;
          top: 5px;

          @include breakpoint($bp-xlarge) { font-size: 18px; line-height: 1.15; }
          @include breakpoint($bp-medium) { font-size: 16px; top: 10px; }
          @include breakpoint($bp-mobileLandscape) { font-size: 17px; }
          @include breakpoint($bp-small) { font-size: 21px; top: 5px; }
      }
      h2 { 
        top: 25px;

        @include breakpoint($bp-xlarge) { font-size: 22px; }
        @include breakpoint($bp-small) { font-size: 24px; }
      }
      p {
        line-height: 1.15;
        top: 70px;
        font-size: 18px;
        width: 90%;

        @include breakpoint($bp-xlarge) {
          font-size: 16px;
          line-height: 1;
          top: 60px;
        }
        @include breakpoint($bp-large) { line-height: 1.15; }
        @include breakpoint($bp-medium) { top: 40px; }
        @include breakpoint($bp-small) { top: 60px; font-size: 16px; }
      }
    img { 
      transition-duration: 500ms;
      opacity: 1; 
      float: left;

      &.platform-logo,
      &.platform-logo2 {
        position: absolute;
        right: 10px;
        width: 50px;
        opacity: 0;
        bottom: 20px;
      }
      &.platform-logo2 { right: 70px; bottom: 25px; }
    }

    &:hover {
      a, h1, h2, p {
        display: block;
        opacity: 1;
      }
      h2 {
        @include breakpoint($bp-medium) { display: none; }
        @include breakpoint($bp-small) { display: block; }
      }
      img {
        filter: blur(4px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
        opacity: 0.3;
        &.platform-logo,
        &.platform-logo2 {
          filter: none;
          opacity: 1;
        }
      }
    }
  }
}
#design-portfolio {
  height: 1000px;
}
#video-portfolio {
  iframe { width: 420px; height: 250px; }
}

#project-overview,
#design-portfolio,
#video-portfolio {
  &.col-2, &.col-4 {
    div { 
      text-align: center;
      float: left;
    } 
  }
}